/* .nav-menu{
    display: flex;
    align-items: center;
    justify-self: start;

}


@media screen and (max-width:960px){
    .nav-menu{
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: wheat;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.4s;
    }

    .nav-menu.active{
        left: 0;
    }
}  */